<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Employee</title>
</head>
<body>
<h1>Delete Employee</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/listemployee">Employee list</a>
</p>
<form th:action="@{/delete-employee}" th:object="${employee}" method="post">
    <table>
        <tr>
            <td>Mã nhân viên:</td>
            <td><input type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>Họ tên:</td>
            <td><input type="text" th:field="*{fullname}"/></td>
        </tr>
        <tr>
            <td>Ngày sinh:</td>
            <td><input type="date" th:field="*{birthday}"/></td>
            <td th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday Error</td>
        </tr>
        <tr>
            <td>Giới tính:</td>
            <td>
                <select th:field="*{sex}" >
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                    <option value="Khác">Khác</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Số điện thoại:</td>
            <td><input type="text" th:field="*{phone}"/></td>
        </tr>
        <tr>
            <td>Số CMND:</td>
            <td><input type="text" th:field="*{cmnd}"/></td>

        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td>Địa chỉ:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete employee"></td>
        </tr>
    </table>
</form>
</body>
</html>