<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Employeetype</title>
</head>
<body>
<h1>Create employeetype</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-employeetype}" th:object="${employeetype}" method="post">
    <table>
        <tr>
            <td>Mô tả nhóm:</td>
            <td><input type="text" th:field="*{description}" minlength="5" maxlength="100"/></td>
            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Employeetype"></td>
        </tr>
    </table>
</form>
</body>
</html>