<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Mã lop</th>
        <th>Ten Lop</th>
        <th>Mo ta</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="clazz : ${clazzs}">
        <tr>
            <td th:text="${clazz.id}"></td>
            <td th:text="${clazz.name}"></td>
            <td th:text="${clazz.description}"></td>
            <td><a th:href="@{/edit-clazz/__${clazz.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-clazz/__${clazz.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>

</body>
</html>