<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>
<body>
<h1>Create Student</h1>
<p>
    <a href="/list">Student list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-student}" th:object="${student}" method="post">
    <table>
        <tr>
            <td>Code:</td>
            <td><input type="text" th:field="*{code}" minlength="5" maxlength="100"/></td>
            <td th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Code Error</td>
        </tr>
        <tr>
            <td>Họ tên:</td>
            <td><input type="text" th:field="*{fullname}" minlength="5" maxlength="100"/></td>
            <td th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Fullname Error</td>
        </tr>
        <tr>
            <td>Ngày sinh:</td>
            <td><input type="date" th:field="*{birthday}"/></td>
            <td th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday Error</td>
        </tr>
        <tr>
            <td>Giới tính:</td>
            <td>
                <select th:field="*{sex}">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                    <option value="Khác">Khác</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Số điện thoại:</td>
            <td><input type="text" th:field="*{phone}"/></td>
            <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</td>
        </tr>
        <tr>
            <td>Số CMND:</td>
            <td><input type="text" th:field="*{cmnd}"/></td>
            <td th:if="${#fields.hasErrors('cmnd')}" th:errors="*{cmnd}">CMND Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Student"></td>
        </tr>
    </table>
</form>
</body>
</html>